.App {
  font-family: sans-serif;
  text-align: center;
}

/* .counter {
  background-color: red;
  color: aliceblue;
} */
/* .counter:nth-child() {
  background-color: yellow;
  color: aliceblue;

} */
